.layout {
  display: flex;
  
    border-bottom: 2px solid black;
}

.home {
  margin-right: 10px;

}

.activeLink{
  font-size: 25px;
  text-decoration: none;
  color: black;
}

/* .active{
  color: tomato;
} */

