.layout {
  display: flex;
  border-bottom: 2px solid black;
}

/* .home :hover {
  color: red;
} */

.pending {
  color: black;

  font-size: 25px;
  margin-right: 10px;
  text-decoration: none;
}

.active {
  color: red;

  font-size: 25px;
  margin-right: 10px;
  text-decoration: none;
}
